@model IEnumerable<Simple_911.Models.Incident>
@{
    ViewData["Title"] = "Incident Archive";
}


<h1>Archive</h1>

<p style="text-align:right">
    <a asp-action="Dashboard"><button type="button" class="btn btn-primary">Back to Dashboard</button></a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallTaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dispatcher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary">
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.FormattedTime)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.CallType.Name)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.Priority.Name)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.CallTaker.FullName)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.Dispatcher.FullName)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.PrimaryUnit.UnitNumber)
            </td>
            <td class="text-black">
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="badge bg-light text-black">EDIT</a>  
                        <a asp-action="Details" asp-route-id="@item.Id" class="badge bg-light text-black">DETAILS</a>
                @if(@item.IsClosed)
                {
                <a asp-action="Restore" asp-route-id="@item.Id" class="badge bg-light text-black">RESTORE</a>
                }
                else
                {
                <a asp-action="Delete" asp-route-id="@item.Id" class="badge bg-light text-black">ARCHIVE</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
